<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="admin"/>
      <allow roles="iss"/>
      <allow roles="asl"/>
      <allow roles="regione"/>
      <allow roles="laboratorio"/>
      <deny roles="ministero"/>
    </authorization>
  </system.web>
</configuration>