<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny  roles="iss"/>
        <deny roles="ministero"/>
        <deny roles="asl"/>
        <deny roles="regione"/>
        <deny roles="laboratorio"/>
        <deny roles="medico"/>
      </authorization>
    </system.web>
</configuration>
